<a href="https://colab.research.google.com/github/Revanth-0346532165/AIML_2303A52421/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Part 01: Lab Task is implement the following data structures using Numpy and Pandas.**

Lists
Arrays
Identify their type using type()
Perform mathematical operations on these datasets created - multiplication, division, poweroff
Combine text with Numpy fuction to generate a textual output - ‚ÄùAddition of Two: array1 +array 2
Implement np.sin(), log(), log2(), np.exp())

In [1]:
import numpy as np
l1=[1,2,3]
array1 = np.array(l1)
array1

array([1, 2, 3])

In [2]:
type(l1)

list

In [4]:
type(array1)

numpy.ndarray

Perform Mathematical Operations on these datasets - Multiplication, Division, Poweroff

In [5]:
array1 = [1, 2, 3]
array2 = [4, 5, 6]
print("array2 multiplied by array1:", [a * b for a, b in zip(array1, array2)])
print("array2 divided by array1:", [a / b for a, b in zip(array2, array1)])
print("array2 raised to the power of array1:", [a ** b for a, b in zip(array2, array1)])

array2 multiplied by array1: [4, 10, 18]
array2 divided by array1: [4.0, 2.5, 2.0]
array2 raised to the power of array1: [4, 25, 216]

In [6]:
import numpy as np

array1 = np.array([1, 2, 3])
array2 = np.array([4, 5, 6])
print("array2 multiplied by array1:", array1 * array2)
print("array2 divided by array1:", array2 / array1)
print("array2 raised to the power of array1:", array2 ** array1)
print("Sine:", np.sin(array1))
print("Natural logarithm:", np.log(array1))
print("Base-10 logarithm:", np.log10(array1))
print("Base-2 logarithm:", np.log2(array1))
print("Exponential:", np.exp(array1))

array2 multiplied by array1: [ 4 10 18]
array2 divided by array1: [4.  2.5 2. ]
array2 raised to the power of array1: [  4  25 216]
Sine: [0.84147098 0.90929743 0.14112001]
Natural logarithm: [0.         0.69314718 1.09861229]
Base-10 logarithm: [0.         0.30103    0.47712125]
Base-2 logarithm: [0.        1.        1.5849625]
Exponential: [ 2.71828183  7.3890561  20.08553692]

In [7]:
import numpy as np
array1 = np.array([1, 2, 3])
array2 = np.array([3, 2, 1])
print("array2 multiplied by array1:", array1 * array2)
print("array2 divided by array1:", array2 / array1)
print("array2 raised to the power of array1:", array2 ** array1)
print("Sine:", np.sin(array1))
print("Natural logarithm:", np.log(array1))
print("Base-10 logarithm:", np.log10(array1))
print("Base-2 logarithm:", np.log2(array1))
print("Exponential:", np.exp(array1))

array2 multiplied by array1: [3 4 3]
array2 divided by array1: [3.         1.         0.33333333]
array2 raised to the power of array1: [3 4 1]
Sine: [0.84147098 0.90929743 0.14112001]
Natural logarithm: [0.         0.69314718 1.09861229]
Base-10 logarithm: [0.         0.30103    0.47712125]
Base-2 logarithm: [0.        1.        1.5849625]
Exponential: [ 2.71828183  7.3890561  20.08553692]

In [8]:
import numpy as np
array1 = np.array([1, 2, 3])
array2 = np.array([3, 2, 1])
print(f"Adding two numpy arrays {array1} and {array2} together:", array1 + array2)
print("array2 multiplied by array1:", array1 * array2)
print("array2 divided by array1:", array2 / array1)
print("array2 raised to the power of array1:", array2 ** array1)
print("Sine:", np.sin(array1))
print("Natural logarithm:", np.log(array1))
print("Base-10 logarithm:", np.log10(array1))
print("Base-2 logarithm:", np.log2(array1))
print("Exponential:", np.exp(array1))

Adding two numpy arrays [1 2 3] and [3 2 1] together: [4 4 4]
array2 multiplied by array1: [3 4 3]
array2 divided by array1: [3.         1.         0.33333333]
array2 raised to the power of array1: [3 4 1]
Sine: [0.84147098 0.90929743 0.14112001]
Natural logarithm: [0.         0.69314718 1.09861229]
Base-10 logarithm: [0.         0.30103    0.47712125]
Base-2 logarithm: [0.        1.        1.5849625]
Exponential: [ 2.71828183  7.3890561  20.08553692]